[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
txdbus = {version = ">=1.1.1", sys_platform = "== 'linux'"}
pyobjc-core = {version = ">=6.2", sys_platform = "== 'darwin'"}
pyobjc-framework-CoreBluetooth = {version = ">=6.2", sys_platform = "== 'darwin'"}
pyobjc-framework-libdispatch = {version = ">=6.2", sys_platform = "== 'darwin'"}
pythonnet = {version = ">=2.5.1", sys_platform = "== 'win32'"}

[dev-packages]
pytest = "*"
bumpversion = "*"
tox = "*"
"flake8" = "*"
sphinx = "*"
pytest-cov = "*"
cryptography = "*"
pyyaml = "*"
wheel = "*"
watchdog = "*"
coverage = "*"
pytest-runner = "*"

