[tool.poetry]
name = "bleak"
version = "0.18.1"
description = "Bluetooth Low Energy platform Agnostic Klient"
authors = ["Henrik Blidh <henrik.blidh@nedomkull.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/hbldh/bleak"
documentation = "https://bleak.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Operating System :: Microsoft :: Windows :: Windows 10",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Android",
]

[tool.poetry.urls]
"Changelog" =  "https://github.com/hbldh/bleak/blob/develop/CHANGELOG.rst"
"Support" =  "https://github.com/hbldh/bleak/discussions"
"Issues" =  "https://github.com/hbldh/bleak/issues"

[tool.poetry.dependencies]
python = "^3.7"
async-timeout = ">= 3.0.0, < 5"
typing-extensions = { version = "^4.2.0", python = "<3.8" }
pyobjc-core = { version = "^8.5", markers = "platform_system=='Darwin'" }
pyobjc-framework-CoreBluetooth = { version = "^8.5", markers = "platform_system=='Darwin'" }
pyobjc-framework-libdispatch = { version = "^8.5", markers = "platform_system=='Darwin'" }
bleak-winrt = { version = "^1.1.1", markers = "platform_system=='Windows'" }
dbus-fast = { version = "^1.4.0", markers = "platform_system == 'Linux'" }

[tool.poetry.group.docs.dependencies]
Sphinx = { version = "^5.1.1", python = ">=3.8" }
sphinx-rtd-theme = "^1.0.0"

[tool.poetry.group.lint.dependencies]
black = "^22.1.0"
flake8 = { version = "^5.0.0", python = ">=3.8" }

[tool.poetry.group.test.dependencies]
asynctest = { version = "^0.13.0",  python = "<3.8" }
pytest = "^7.0.0"
pytest-asyncio = "^0.19.0"
pytest-cov = "^3.0.0 "

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
