[tool.poetry]
name = "bleak"
version = "0.22.2"
description = "Bluetooth Low Energy platform Agnostic Klient"
authors = ["Henrik Blidh <henrik.blidh@nedomkull.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/hbldh/bleak"
documentation = "https://bleak.readthedocs.io"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Operating System :: Microsoft :: Windows :: Windows 10",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Android",
]

[tool.poetry.urls]
"Changelog" =  "https://github.com/hbldh/bleak/blob/develop/CHANGELOG.rst"
"Support" =  "https://github.com/hbldh/bleak/discussions"
"Issues" =  "https://github.com/hbldh/bleak/issues"

[tool.poetry.dependencies]
python = ">=3.8,<3.13"
async-timeout = { version = ">= 3.0.0, < 5", python = "<3.11" }
typing-extensions = { version = ">=4.7.0", python = "<3.12" }
pyobjc-core = { version = "^10.0", markers = "platform_system=='Darwin'" }
pyobjc-framework-CoreBluetooth = { version = "^10.0", markers = "platform_system=='Darwin'" }
pyobjc-framework-libdispatch = { version = "^10.0", markers = "platform_system=='Darwin'" }
bleak-winrt = { version = "^1.2.0", markers = "platform_system=='Windows'", python = "<3.12" }
"winrt-runtime" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Devices.Bluetooth" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Devices.Bluetooth.Advertisement" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Devices.Bluetooth.GenericAttributeProfile" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Devices.Enumeration" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Foundation" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Foundation.Collections" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
"winrt-Windows.Storage.Streams" = { version = "^2", markers = "platform_system=='Windows'", python = ">=3.12" }
dbus-fast = { version = ">=1.83.0, < 3", markers = "platform_system == 'Linux'" }

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.1.1"
sphinx-rtd-theme = "^1.0.0"

[tool.poetry.group.lint.dependencies]
black = ">=24.3,<25.0"
flake8 = "^5.0.0"
isort = "^5.13.2"

[tool.poetry.group.test.dependencies]
pytest = "^8.2.1"
pytest-asyncio = "^0.23.7"
pytest-cov = "^3.0.0 "

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
py_version=38
src_paths = ["bleak", "examples", "tests", "typings"]
extend_skip = [".buildozer"]
