txdbus>=1.1.1; sys_platform=="linux"
pyobjc-core>=6.2;sys_platform == 'darwin'
pyobjc-framework-CoreBluetooth>=6.2;sys_platform == 'darwin'
pyobjc-framework-libdispatch>=6.2;sys_platform == 'darwin'
pythonnet>=2.5.1; sys_platform == 'win32'
